.article-meta{
    font-family: $font-article;
    font-size: 14px;
    line-height: 30px;
h5{
    font-weight: bold;
}
}

.content{
    position: relative;
    top: -200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
    border-radius: 2em;
    border: 1px solid rgba(0, 0,0, .125);
    padding:1.25em;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;;
}

.location{
    line-height: 2em;
}

