.hero
{
    background:url("images/redcinema.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.hero-title
{
    font-family:$font-stack;
    font-weight:bold;
    color:lightsteelblue;
    font-size:62px;
}

.hero-subtitle
{
    font-family:$font-stack;
    color:$primary-color;
    font-size:14px;
    margin-top:30px;
    margin-bottom:60px;
}


.btn-hero
{
    background:white;
    color:#444444;
    font-family:$font-stack;
    font-size:10px;
    font-weight:bold;
    letter-spacing:2px;
    padding:13px 22px;
    border-radius:100px;
    border:1px solid white;
    &:hover{
    background:transparent;
    color:white;
    }
}
.hero-content{
    z-index:10;
    position: relative;
}
//Mandalay
.mandalay-hero{
    background:url("mandalayphoto/bg1.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}
//Yangon
.yangon-hero{
    background:url("yangonphoto/ygnbg.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}

//Nay Pyi Taw
.naypyitaw-hero{
    background:url("naypyitawphoto/nptbg.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.naypyitaw-hero-title
{
    font-family:$font-stack;
    font-weight:bold;
    color:black;
    font-size:62px;
}
//Pakokku
.pakokku-hero{
    background:url("pakokkuphoto/pkubg.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}
// Pakokku Cinema
.thiha-hero{
    background:url("images/redcinema.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}
//Nay Pyi Taw Cinema
.jcgvnpt-hero{
    background:url("images/redcinema.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}

//Pyay\
.pyay-hero{
    background:url("pyayphoto/pyaybg2.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.tunthiri-hero{
    background:url("images/redcinema.jpg");
    padding:290px 0;
    text-align:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 50px;
}
//for book now button
.btn-hero
{
    background-color:darkcyan;
    color:black;
    font-family:$font-stack;
    font-size:10px;
    font-weight:bold;
    letter-spacing:2px;
    padding:13px 22px;
    border-radius:100px;
    border:1px solid black;
    &:hover{
    background:transparent;
    color:black;
    }
    margin-left: 16em;
}