@import url(bootstrap/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css?family=Allerta&display=swap');
@import url('font-awesome/css/font-awesome.min.css');

$font-stack:'Merriweather', serif;

$font-article: 'Allerta', sans-serif;

$primary-color:#bfba55;


@import "scss/hero";
@import "scss/footer";
@import "scss/content"